easygui>=0.98.1
tables>=3.5.1
numpy>=1.16.2
datashader>=0.6.9
scipy<1.4,>=1.2.1
scikit-learn>=0.20.3
tqdm>=4.36.1
numba<0.49,>=0.43.0
matplotlib>=3.0.3
pygments
mistune>=0.8.1
ipython>=5.0.0
jupyter-core>=4.4.0
entrypoints>=0.2.2
umap-learn>=0.3.10
holoviews>=1.12.7
h5py>=2.10.0
statsmodels
seaborn
appdirs>=1.4.3
joblib>=0.14.1
prompt-toolkit>=2.0.9
pywavelets>=1.1.1
imageio>=2.5.0
